* {
  -webkit-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  user-drag: none;

  cursor: default;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
}

body {
  background-image: url('../images/tamagotchi.png');
  background-size: cover;
}

* {
  -webkit-app-region: no-drag;
}

canvas {
  image-rendering: optimizeSpeed;
  -webkit-interpolation-mode: nearest-neighbor;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:-webkit-full-screen #canvas {
  width: 100%;
  height: 100%;
}

#gm4html5_div_id {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: drag;
  position: relative;
}

.round-button {
  position: absolute;
  background-image: url('../images/round_button.png');
  width: 130px;
  height: 130px;
  top: 230px;
  left: 26px;
  border-radius: 50%;
  cursor: pointer;
}

.round-button:active {
  background-image: url('../images/round_button_p.png');
}

.reset-button {
  position: absolute;
  background-image: url('../images/reset_button.png');
  width: 74px;
  height: 64px;
  top: 29px;
  left: 88px;
  cursor: pointer;
}

.reset-button:active {
  background-image: url('../images/reset_button_p.png');
}

.long-button {
  position: absolute;
  background-image: url('../images/long_button.png');
  cursor: pointer;
  width: 138px;
  height: 90px;
  border-radius: 50%;
}

.long-button:active {
  background-image: url('../images/long_button_p.png');
}

.long-button.top {
  top: 172px;
  right: 38px;
}

.long-button.bottom {
  top: 333px;
  right: 38px;
}

.shine {
  width: 262px;
  height: 262px;
  background-image: url(../images/shine.png);
  position: absolute;
  top: 153px;
  left: 224px;
  mix-blend-mode: lighten;
  opacity: 0.2;
}
