* {
  -webkit-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  user-drag: none;

  cursor: default;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: transparent;
}
