* {
  -webkit-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  user-drag: none;

  cursor: default;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
}

body {
  opacity: 0;
  transform: scale(0.95);
  transition: transform 0.2s;
}

* {
  -webkit-app-region: no-drag;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../images/tamagotchi.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
  -webkit-app-region: drag;
}

.screen {
  position: absolute;
  background-image: url('../images/screen.png');
  width: 308px;
  height: 308px;
  z-index: -1;
  -webkit-app-region: drag;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  image-rendering: optimizeSpeed;
  -webkit-interpolation-mode: nearest-neighbor;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:-webkit-full-screen #canvas {
  width: 100%;
  height: 100%;
}

#gm4html5_div_id {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: drag;
  position: relative;
}

.round-button {
  position: absolute;
  background-image: url('../images/round_button.png');
  width: 130px;
  height: 130px;
  top: 230px;
  left: 26px;
  border-radius: 50%;
  cursor: pointer;
}

.round-button:active {
  background-image: url('../images/round_button_p.png');
}

.reset-button {
  position: absolute;
  background-image: url('../images/reset_button.png');
  width: 74px;
  height: 64px;
  top: 29px;
  left: 88px;
  cursor: pointer;
}

.reset-button:active {
  background-image: url('../images/reset_button_p.png');
}

.long-button {
  position: absolute;
  background-image: url('../images/long_button.png');
  cursor: pointer;
  width: 138px;
  height: 90px;
  border-radius: 50%;
}

.long-button:active {
  background-image: url('../images/long_button_p.png');
}

.long-button.top {
  top: 172px;
  right: 38px;
}

.long-button.bottom {
  top: 333px;
  right: 38px;
}

.shine {
  width: 262px;
  height: 262px;
  background-image: url(../images/shine.png);
  position: absolute;
  top: 153px;
  left: 224px;
  mix-blend-mode: lighten;
  opacity: 0.2;
  -webkit-app-region: drag;
}

#drag-region {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 180px;
}

/* #drag-region.dragging {
  cursor: move;
} */

#vol-up, #vol-down {
  position: absolute;
  width: 32px;
  height: 27px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 1s;
  cursor: pointer;
}

#vol-up:hover, #vol-down:hover {
  opacity: 1 !important;
}

#vol-up {
  top: 95px;
  background-image: url('../images/sound_on.png');
}

#vol-down {
  bottom: 100px;
  background-image: url('../images/sound_on.png');
}
