* {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
}

html, body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-family: 'TooMuchInk', sans-serif;
  color: #d7e894;
}

body {
  background-image: url(bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bubble {
  position: absolute;
  top: 100%;
  z-index: -1;
}
